* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
  background-color: #4c6d9e;
  font-family: 'Courier New', Courier, monospace;
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items:center;
}

input {
  width: 100%;
  height: 60px;
}

input.search {
  text-align: center;
  font-size: 1.5rem;
  border: 10px solid #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
  position: relative;
}

.suggestions {
  list-style: none;
}

.suggestions li {
  padding: 10px;
  margin: 0;
  border-bottom: #ccc solid 2px;
  background: #e6e6e6;
  transform: perspective(100px) rotateX(3deg) translateY(2px);
}
